<h1> <%= @passenger.name %>, Thank you for booking a flight with us</h1>
<p>
  You have successfully booked a flight with us. 
  
</p>
<p>Thanks for trusting us with your air transport needs. Have a great day!</p>